<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src = "app-1.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Informational Dashboard with data, news and more useful resources related to the COVID-19 Pandemic">
    <meta name="author" content="Anuda Weerasinghe">
    <title>COVID-19 Informational Dashboard</title>
    <!-- Favicon -->
    <link rel="icon" href="assets/imgs/covid.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="assets/css/argon.css?v=1.2.0" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113730826-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113730826-5');
    </script>

</head>

<body  ng-app = "myApp" ng-controller = "news-controller">
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="assets/imgs/logo.png" class="navbar-brand-img" alt="...">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="fas fa-home text-primary"></i>
                            <span class="nav-link-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="data.html">
                            <i class="ni ni-chart-bar-32 text-orange"></i>
                            <span class="nav-link-text">Data</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="news.html">
                            <i class="ni ni-books text-info"></i>
                            <span class="nav-link-text">News</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="maps.html">
                            <i class="ni ni-world text-purple"></i>
                            <span class="nav-link-text">Maps</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://epidemic-simulator.now.sh/#/" target="_blank">
                            <i class="ni ni-vector text-cyan"></i>
                            <span class="nav-link-text">Simulations</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Search form -->

                <!-- Navbar links -->
                <ul class="navbar-nav align-items-center  ml-md-auto ">
                    <li class="nav-item d-xl-none">
                        <!-- Sidenav toggler -->
                        <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                             data-target="#sidenav-main">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">COVID-19 Informational Dashboard</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href=""><i class="ni ni-books"></i></a></li>
                                <li class="breadcrumb-item"><a href="">News</a></li>
                            </ol>
                        </nav>
                    </div>

                </div>
                <!-- Card stats -->

            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">

            <!--        <div class="col-xl-4">-->
            <!--          <div class="card">-->
            <!--            <div class="card-header bg-transparent">-->
            <!--              <div class="row align-items-center">-->
            <!--                <div class="col">-->
            <!--                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>-->
            <!--                  <h5 class="h3 mb-0">Total orders</h5>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            <div class="card-body">-->
            <!--              &lt;!&ndash; Chart &ndash;&gt;-->
            <!--              <div class="chart">-->
            <!--                <canvas id="chart-bars" class="chart-canvas"></canvas>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--        </div>-->
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="mb-0">COVID-19 in the Local News {{cardLabel}}</h2>
                            </div>
                            <div class="col text-right" ng-if="sl">
                                <a class="btn btn-sm btn-primary">Sri Lanka</a>
                                <a href="" class="btn btn-sm btn-neutral" ng-click="changeToGlobal()">Global</a>

                            </div>

                            <div class="col text-right" ng-if="global">
                                <a href="" class="btn btn-sm btn-neutral" ng-click="changeToSl()">Sri Lanka</a>
                                <a  class="btn btn-sm btn-primary">Global</a>

                            </div>

                        </div>
                    </div>
                        <div class="card">

                            <div class="card-header border-0">
                                <div ng-repeat="items in news">
                                    <a href="{{items.url}}" target="_blank">

                                        <div class="row align-items-center">


                                            <div class="col-xl-8">
                                                <div class="row">
                                                    <div class="col-xl-8">
                                                        <h2 class="mb-0">{{items.title}}</h2>
                                                    </div>
                                                    <div class="col-xl-4">
                                                        <p class="text-black-50">by {{items.author}}</p>
                                                    </div>
                                                </div>
                                                <p class="text-black-50">{{items.description}}</p>
                                            </div>
                                            <div class="col-xl-4">
                                                <img src={{items.urlToImage}}
                                                     style="width: 100%;">
                                            </div>
                                        </div>
                                    </a>
                                    <hr>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
            <div class="col-xl-4" ng-hide="global">
                <div class="card">

                    <a class="twitter-timeline" href="https://twitter.com/HPBSriLanka"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-xl-4" ng-hide="sl">
                <div class="card">

                    <a class="twitter-timeline" href="https://twitter.com/WHO"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer pt-0">
            <div class="row align-items-center">
                <div class="col-lg-4">

                    <div class="copyright text-center  text-lg-left  text-muted">
                        &copy; 2020 <a href="http://anuda.me" class="font-weight-bold ml-1"
                                       target="_blank">Anuda Weerasinghe.</a>
                    </div>
                </div>

                <div class="col-lg-8">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <div class="copyright text-center  text-lg-left  text-muted">
                                Powered by WorldOMeters, NewsAPI, Sri Lanka Health Promotion Bureau, Ada Derana, and News First</div>

                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- Argon Scripts -->
<!-- Core -->
<script src="assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/js-cookie/js.cookie.js"></script>
<script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Optional JS -->
<script src="assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="assets/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="assets/js/argon.js?v=1.2.0"></script>
</body>

</html>
